@import url(reset.css);
body {
  background-color: #fff;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a:focus {
  outline: none;
}
.z {
  z-index: 1;
}
.oh {
  overflow: hidden;
}
.fixedHeaderRow {
  width: 95%;
  overflow: hidden;
  max-width: 1175px;
  margin: 0 auto;
}
.mb {
  margin-bottom: 15px;
}
.va {
  display: inline-block;
  vertical-align: middle;
}
.fl {
  float: left;
}
.clear {
  clear: both;
  display: block;
}
.icon {
  background: url(../img/sprite.png);
}
.icon-small {
  width: 40px;
  height: 40px;
}
.icon-middle {
  width: ;
  height: ;
}
.icon-big {
  width: 80px;
  height: 80px;
}
.icon-custom {
  width: 60px;
  height: 60px;
  background-position: 0 -215px;
}
.icon-pc {
  width: 73px;
  height: 60px;
  background-position: -104px -130px;
}
.icon-design {
  width: 41px;
  height: 60px;
  background-position: -453px -215px;
}
.icon-code {
  width: 56px;
  height: 60px;
  background-position: -372px -215px;
}
.icon-ship {
  width: 72px;
  height: 60px;
  background-position: -202px -130px;
}
.icon-free {
  width: 79px;
  height: 60px;
  background-position: 0px -130px;
}
.icon-f {
  background-position: -159px 0;
}
.icon-f:hover {
  background-position: -159px -65px;
}
.icon-t {
  background-position: -203px 0;
}
.icon-t:hover {
  background-position: -203px -65px;
}
.icon-in {
  background-position: -247px 0;
}
.icon-in:hover {
  background-position: -247px -65px;
}
.icon-f-footer {
  background-position: 0 0;
}
.icon-f-footer:hover {
  background-position: 0 -65px;
}
.icon-t-footer {
  background-position: -47px 0;
}
.icon-t-footer:hover {
  background-position: -47px -65px;
}
.icon-in-footer {
  background-position: -94px 0;
}
.icon-in-footer:hover {
  background-position: -94px -65px;
}
.header__wrap {
  z-index: 999;
  position: relative;
  margin-bottom: 210px;
  padding: 8px 0 6px 0;
  border-bottom: 1px solid #444444;
}
.bg {
  min-height: 960px;
  position: relative;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.bg:after {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
.logo a {
  border: none;
  transition: opacity .5s;
}
.logo a img {
  width: 40px;
  height: 40px;
}
.logo a:hover {
  opacity: .8;
}
.menu {
  padding-top: 12px;
  text-align: right;
}
.menu ul li {
  margin-right: 30px;
  display: inline-block;
}
.menu ul li:last-child {
  margin-right: 0;
}
.menu ul li a {
  position: relative;
  transition: .3s;
  text-transform: uppercase;
  font: 13px "Bold", sans-serif;
}
.menu ul li a:after {
  background-color: #1cb080;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.menu ul li a:hover {
  color: white;
}
.menu ul li a:hover:after {
  width: 100%;
}
.menu ul li a:focus {
  outline: 0;
}
._mPS2id-h {
  color: rgba(255, 255, 255, 0.7);
}
.mPS2id-highlight {
  color: white;
  border-bottom: 2px solid #1cb080;
}
.KRS__header {
  position: relative;
  z-index: 1;
  text-align: center;
}
.KRS__header .KRS__999 {
  width: 250px;
  height: 250px;
  display: block;
  margin: 0 auto 15px auto;
}
.KRS__header .KRS__999 .cl-effect-12 a::before {
  top: 125px;
  width: 250px;
  height: 250px;
  background-color: rgba(28, 176, 128, 0.4);
  border-color: transparent;
}
.KRS__header .KRS__999 .cl-effect-12 a::after {
  display: none;
}
.KRS__header .KRS__999 .photo {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid #1CB080;
  background-position: center center;
  background-image: url(https://avatars0.githubusercontent.com/u/31311195?s=460&v=4);
}
.KRS__header span {
  color: #fff;
  display: block;
  font: 36px "Rewritten", sans-serif;
}
.KRS__header p {
  color: #fff;
  margin-bottom: 15px;
  font: 22px "Light", sans-serif;
  line-height: 33px;
}
.KRS__header audio {
  width: 100%;
  max-width: 390px;
}
/*Второе меню*/
.headhesive {
  width: 100%;
  padding: 8px 0 6px 0;
  position: fixed;
  z-index: 99;
  top: -60px;
  transition: top .5s;
  background: #0e0e0e;
  border-bottom: 1px solid #444444;
}
.headhesive--stick {
  top: 0;
}
/*Кнопка мини меню*/
#nav-icon3 {
  width: 25px;
  height: 25px;
  right: 15px;
  top: 16px;
  float: right;
  z-index: 999;
  display: none;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#nav-icon3:hover span {
  background-color: #1CB080;
}
#nav-icon3:after {
  content: '';
  display: block;
  border-radius: 100px;
}
#nav-icon3 span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: #ffffff;
  opacity: 1;
  right: 0;
  margin: -6px 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
  top: 11px;
}
#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 18px;
}
#nav-icon3 span:nth-child(4) {
  top: 25px;
}
#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  right: 0%;
}
#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  right: 50%;
}
/*Кнопка мини меню*/
.myWork {
  background: #fff;
  padding-top: 80px;
  overflow: hidden;
  text-align: center;
}
.myWork span {
  color: #141414;
  display: inline-block;
  margin-bottom: 40px;
  text-transform: uppercase;
  border-bottom: 3px solid #1CB080;
  font: 26px "Bold", sans-serif;
}
.myWork .site__wrap {
  padding: 5px;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid rgba(14, 14, 14, 0.3);
  box-shadow: 0 0 5px rgba(14, 14, 14, 0.3);
}
.myWork .site__wrap .site {
  width: 100%;
  height: 350px;
  border-radius: 5px;
  overflow: hidden;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  background-repeat: no-repeat;
  background-position: center top;
}
.myWork .site__wrap .site:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.myWork .site__wrap .site:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  transition: 1s;
}
.myWork .site__wrap .site:hover:after {
  background: rgba(14, 14, 15, 0.4);
}
.myWork .site__wrap .site-1 {
  background-image: url(../img/site-1.jpg);
}
.myWork .site__wrap .site-2 {
  background-image: url(../img/site-2.jpg);
}
.myWork .site__wrap .site-3 {
  background-image: url(../img/site-3.jpg);
}
.myWork .site__wrap .site-4 {
  background-image: url(../img/site-4.jpg);
}
.myWork .site__wrap .site-5 {
  background-image: url(../img/site-5.jpg);
}
.myWork .site__wrap .site-6 {
  background-image: url(../img/site-6.jpg);
}
.myWork .site__wrap .site-7 {
  background-image: url(../img/site-7.jpg);
}
.myWork .site__wrap .site-8 {
  background-image: url(../img/site-8.jpg);
}
.myWork .site__wrap .site-9 {
  background-image: url(../img/site-9.jpg);
}
.myWork .site__wrap .site-10 {
  background-image: url(../img/site-10.jpg);
}
.myWork .site__wrap .site-11 {
  background-image: url(../img/site-11.jpg);
}
.myWork .site__wrap .site-12 {
  background-image: url(../img/site-12.jpg);
}
.myWork .site__wrap .site-13 {
  background-image: url(../img/site-13.jpg);
}
.myWork .site__wrap .site-14 {
  background-image: url(../img/site-14.jpg);
}
.myWork .site__wrap .site-15 {
  background-image: url(../img/site-15.jpg);
}
.myWork .site__wrap .site-16 {
  background-image: url(../img/site-16.jpg);
}
.myWork .site__wrap .site-17 {
  background-image: url(../img/site-17.jpg);
}
.work-more {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  transition: 1s;
  display: block;
  position: relative;
  margin: 30px auto 60px auto;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(80, 80, 80, 0.5);
}
.work-more:after {
  content: '';
  width: 24px;
  height: 24px;
  right: 14px;
  top: 14px;
  transition: 1s;
  position: absolute;
  background-image: url(../img/arrow.png);
}
.work-more:hover {
  background-color: rgba(80, 80, 80, 0.1);
}
.work-more.open:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.tabs-header {
  overflow: none;
  background: none;
  margin-bottom: 30px;
}
.tabs-header ul {
  justify-content: center;
  width: auto;
}
.tabs-header ul li {
  color: #8e8e8e;
  transition: .5s;
  margin-right: 20px;
  border-radius: 3px;
  border: 1px solid transparent;
  text-transform: uppercase;
  font: 16px "Bold", sans-serif;
}
.tabs-header ul li:last-child {
  margin-right: 0;
}
.tabs-header ul li a {
  color: inherit;
  padding: 5px 10px;
}
.tabs-header ul li:hover {
  color: #ffffff;
  background-color: #1CB080;
}
.tabs-header .active {
  color: #ffffff;
  background-color: #1CB080;
}
.tabs-content {
  padding: 0;
}
.empty {
  color: #141415;
  margin-bottom: 30px;
  font: 16px "Bold", sans-serif;
}
.skills {
  min-height: 750px;
  padding-top: 81px;
  position: relative;
  background-image: url(../img/skillWall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.skills:after {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
.skills .skills__wrapper {
  text-align: center;
}
.skills .skills__wrapper .span_1,
.skills .skills__wrapper .span_2 {
  color: #fff;
  z-index: 1;
  position: relative;
  display: inline-block;
  font: 26px "Bold", sans-serif;
  text-transform: uppercase;
  border-bottom: 3px solid #1CB080;
}
.skills .skills__wrapper .span_1 {
  margin-bottom: 84px;
}
.skills .skills__wrapper .span_2 {
  margin-bottom: 28px;
}
.skills .skills__wrapper a {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.5);
  font: 22px "Rewritten", sans-serif;
  line-height: 100px;
  box-sizing: border-box;
  position: relative;
  color: #fff;
}
.skills__ {
  width: 260px;
  min-height: 277px;
  margin: 0 auto 80px auto;
  z-index: 1;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../img/skillsImg.png);
}
.skills__ .skillsL {
  width: 35px;
  height: 35px;
  position: absolute;
  background-repeat: no-repeat;
}
.skills__ .skillsL.html__ {
  top: 10px;
  left: 113px;
  background-image: url(../img/html.png);
}
.skills__ .skillsL.css__ {
  bottom: 42px;
  left: 16px;
  background-image: url(../img/css.png);
}
.skills__ .skillsL.js__ {
  bottom: 42px;
  right: 16px;
  background-image: url(../img/js.png);
}
.skills__ .skillsL p {
  color: #141415;
  margin-top: 35px;
  font: 13px "OpenSansRegular", sans-serif;
}
.footer {
  background: #fcfcfc;
}
.footer__bottom {
  text-align: center;
  padding: 24px 0;
}
.footer__bottom #copyYear {
  color: #808080;
}
.footer__bottom p {
  color: #808080;
  position: relative;
  font: 14px "OpenSansBold", sans-serif;
  line-height: 22.5px;
}
.footer__bottom p span {
  color: #fff;
}
@media screen and (max-width: 1200px) {
  .myWork .site__wrap .site {
    height: 260px;
  }
}
@media screen and (max-width: 992px) {
  .menu ul li {
    margin-right: 25px;
  }
}
@media screen and (max-width: 768px) {
  .footer__wrap .footer__box {
    margin-bottom: 30px;
  }
  .footer__wrap .footer__box:last-child {
    margin-bottom: 60px;
  }
}
/*
@media screen and (max-width: 600px) {
	.KRS__header{
		.menu{
			ul{
				li{
					margin-right: 30px;
				}
			}
		}
	}
}
*/
@media screen and (max-width: 576px) {
  .headhesive .menu {
    visibility: hidden;
  }
  .headhesive .menu ul {
    display: none;
  }
  .menu {
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    text-align: center;
    display: none;
  }
  .menu ul {
    width: 100%;
    top: 38%;
    position: relative;
  }
  .menu ul li {
    padding: 20px 0;
    margin-right: 0;
    display: block;
  }
  .menu ul li a {
    font-size: 25px;
  }
  /*HEADER TEXT STYLES*/
  .KRS__header .KRS__999 {
    width: 200px;
    height: 200px;
  }
  .KRS__header .KRS__999 .cl-effect-12 a::before {
    top: 100px;
    width: 200px;
    height: 200px;
  }
  #nav-icon3 {
    display: inline-block;
  }
  .tabs-header ul li {
    margin-right: 5px;
    font-size: 12px;
  }
  .tabs-header ul li a {
    padding: 5px;
  }
  .skills__ {
    width: 207px;
    min-height: 220px;
  }
  .skills__ .skillsL {
    width: 30px;
    height: 30px;
    background-size: cover;
  }
  .skills__ .skillsL.html__ {
    top: 5px;
    left: 89px;
  }
  .skills__ .skillsL.css__ {
    bottom: 34px;
    left: 12px;
  }
  .skills__ .skillsL.js__ {
    bottom: 34px;
    right: 12px;
  }
  .skills__ .skillsL p {
    margin-top: 30px;
    font-size: 11px;
  }
}
@media screen and (min-width: 576px) {
  .menu {
    display: inline-block !important;
  }
}
